[Unit]
Description=APIntIO Push IID Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /git/apint_udp_relay_iid/RunServer.py
Restart=always
User=root
WorkingDirectory=/git/apint_udp_relay_iid

[Install]
WantedBy=multi-user.target

